.PateryButton {
  border-radius: 4px;
  border: none;
  margin: 8px;
  padding: 14px 24px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.PateryButton > .ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #bdbdbd48;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.PateryButton > .content {
  position: relative;
  z-index: 2;
}
.dark{
    background-color: rgb(34, 34, 34);
    color: rgb(221, 221, 221);
}
.light{
    background-color: rgb(225, 225, 225);
    color: rgb(99, 99, 99);
}